/*******************************************
  responsive menu  dropdown for hello theme
********************************************/

i.bars i {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    display: block;
    border-radius: 3px;
}

.icon {
    display: none;
}
:root {
    --menuBreak: 1200px;
}
@media screen and (max-width: 1000px) {
    .site-navigation ul.menu li {
        display: none;
    }
    .icon {
        display: block;
    }
    #menu-main-menu {
        position: absolute;
        right: 0;
        background: #efefef;
        border: 1px solid #d2d2d2;
        box-sizing: border-box;
        border-radius: 5px;
    }
    .site-navigation ul.menu li.menu-item-has-children::after {
        display: none;
    }
    .site-navigation ul.menu.responsive li ul {
        display: block;
        position: initial;
        padding-left: 10px;
        background-color: #efefef;
    }
}
@media screen and (max-width: 1000px) {
    .menu.responsive {
        position: relative;
    }
    .site-navigation ul.menu.responsive li {
        float: none;
        display: block;
        text-align: left;
        flex-grow: 1;
        width: 100%;
    }
}